:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 60px auto;
  width: 80%;
  max-width: 700px;
}

footer ul {
  padding: 0px;
  list-style: none;
}

footer ul li {
  font-size: 1.5em;
  display: inline;
  margin-right: 20px;
}

i:hover {
  transform: scale(1.2);
}

a {
  text-decoration: none;
  color: #db3236;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}

p {
  font-size: 1.1em;
  line-height: 1.4em;
  color: #333;
}

footer {
  border-top: 1px solid #d5d5d5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HiDPI Phone */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
  :root {
    margin: auto auto;
  }
}