<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="pC8iaoTjQEJOW2CUJ-ykXAZtX8YJbj_XYk1YWN6u2Rc" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/assets/cv.pdf">CV</a></li>
    </ul>
  </nav>
  <div class="container">
    {{ content }}
  </div>
  <footer>
    <ul>
      <li><a href="mailto:felix.weinberger@gmail.com">Email</a></li>
      <li><a href="https://github.com/felixweinberger">GitHub</a></li>
      <li><a href="https://linkedin.com/in/felixweinberger">LinkedIn</a></li>
    </ul>
  </footer>
</body>

</html>